name: crypsi-swift ci

on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  macos: 

    runs-on: macos-latest 

    strategy:
      fail-fast: false

    steps: 
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@65540b95f51493d65f5e59e97dcef9629ddf11bf
        with:
          swift-version: "5.7"
      - name: install openssl
        run: |
          mkdir -p ~/code/build-from-src/ && cd $_

          curl -LO https://www.openssl.org/source/openssl-1.1.1d.tar.gz

          tar -xzvf openssl-1.1.1d.tar.gz
          cd openssl-1.1.1d

          perl ./Configure --prefix=/usr/local --openssldir=/usr/local/openssl no-ssl3 no-ssl3-method no-zlib darwin64-x86_64-cc enable-ec_nistp_64_gcc_128
          make
          make test
          sudo make install MANDIR=/usr/share/man MANSUFFIX=ssl

          openssl version
          which -a openssl

          make clean
          make distclean
          cd ..
          rm -fr openssl-1.1.1d
          rm openssl-1.1.1d.tar.gz
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
  
  ubuntu20:

    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@65540b95f51493d65f5e59e97dcef9629ddf11bf
        with:
          swift-version: "5.7"
      - name: Set permission to install_ubuntu_deps
        run: chmod +x ./scripts/install_ubuntu_deps
      - name: Install Ubuntu dependecies
        run: bash ./scripts/install_ubuntu_deps
      - name: Check Builder
        run: |
          cmake --version
          gcc --version
          openssl version -a
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v