name: crypsi-swift ci

on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  macos: 

    runs-on: macos-latest 

    strategy:
      fail-fast: false

    steps: 
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@65540b95f51493d65f5e59e97dcef9629ddf11bf
        with:
          swift-version: "5.7"
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v
  
  ubuntu20:

    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: swift-actions/setup-swift@65540b95f51493d65f5e59e97dcef9629ddf11bf
        with:
          swift-version: "5.7"
      - name: Set permission to install_ubuntu_deps
        run: chmod +x ./scripts/install_ubuntu_deps
      - name: Install Ubuntu dependecies
        run: bash ./scripts/install_ubuntu_deps
      - name: Check Builder
        run: |
          cmake --version
          gcc --version
          openssl version -a
      - name: Build
        run: swift build -v
      - name: Run tests
        run: swift test -v